:root {
  font-family: 'Helvetica Neue', sans-serif;

  /* Style variables */
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 500;

  --background-header: #e0e0e0;
  --background-first-section: #F9FAFC;
  --background-card: #000;
  --text-color-primary: #e0e0e0;
  --text-color-secondary: #274671;
  --clothing-color-primary: #434343;
  --clothing-color-secondary: #EB4A5A;

  /* Reset Styles */
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  border: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  list-style-type: inherit;
  font-weight: var(--font-weight-regular);
  color: var(--text-color-primary);
}
